/* Estilos generales */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 2em;
  text-align: center;
  font-weight: normal;
  margin-bottom: 20px;
  color: #fff;
}

.form-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  margin: auto;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #5a5a5a;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}

textarea.form-control {
  resize: vertical;
  min-height: 100px;
}

button.btn,
button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.btn:hover,
button[type="submit"]:hover {
  background-color: #0056b3;
}

div[ngIf="registroExitoso"] p,
div[ngIf="registroExitoso"] {
  color: green;
  font-weight: bold;
}

/* Estilos específicos para cada componente */


body.productos {
  background: linear-gradient(to bottom right, #b2b2f0, #ffd1dc);
}



/* Adaptación de botones para cada componente */


body.productos button.btn,
body.productos button[type="submit"] {
  background-color: #6a0dad;
}

body.productos button.btn:hover,
body.productos button[type="submit"]:hover {
  background-color: #4b0082;
}

