<header class="header text-center">
    <div class="container">
        <div class="branding">
            <h1 class="logo">
                <span aria-hidden="true" class="icon_documents_alt icon"></span>
                <span class="text-highlight">REGISTRO</span><span class="text-bold">CONSULTA</span>
            </h1>
        </div><!--//branding-->
        <div class="tagline">
            <p>Consulta y realiza registros a una base de datos</p>
            
        </div><!--//tagline--> 
    </div><!--//container-->
</header><!--//header-->
